
html {
	box-sizing: border-box;
}
*, *:before. *:after {
	box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: white;
}

a:hover {
	color: darkblue;
}


.line {
	background-color: white;
}


img {
	margin: auto;
	margin-top: 0px;
	margin-right: 0px;
	height: 500px;
	border-radius: 5px;
}


.site-header {
	background-color: #312a3b;
	margin-bottom: 5px;
	box-shadow: 0 8px 6px -6px black;
	border-radius: 5px;
	height: 70px;
	text-align: center;
}

a {
  border-bottom: 1px solid white;
  color: white;
  padding-bottom: .25em;
  text-decoration: none;
}

a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
}

.main-text {

}

.main-content {
	background-color: #2d2c32;
	box-shadow: 10px 10px 5px #312a3b;
	height: 500px;
	border-radius: 5px;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
}



.site-main {
	background-color: #383440;
	padding: 80px;
}

.site-footer {
	background-color: #312a3b;
	border-radius: 5px;
	height: 65px;
	box-shadow: 0 8px 6px -6px purple;
	text-align: center;
}

h1 {	
	text-align: center;
	font-weight: 700;
	color: white;
	font-size: 50px;
	padding-top: 5px;
	padding-bottom: 20px;
	padding-left: 10px;
	border-bottom: 10px solid #fff;

}

h3 {
	text-align: center;
	padding-left: 10px;
	color: white;
	font-weight: 300;
}

.button {
	background-color: purple;
	color: white;
	width: 28%;
	border-radius: 7px;
	text-align: center;
	margin: auto;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: 400;
	
}